/* src/pages/Products.css */
.products-container {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  min-height: 100vh;
  background-color: #f4f6f9;
}

.products-header,
.products-nav {
  background-color: #001a33;
  color: white;
}

.products-nav {
  border-bottom: 1px solid #ccc;
}

.products-main {
  padding: 1.5rem;
  background-color: white;
}

.input-search,
.input-detail {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 4px;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #f6ff00;
}

.btn-add {
  background-color: #28a745;
  color: white;
}

.btn-back,
.btn-save {
  background-color: #007bff;
  color: white;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
}

.btn:hover {
  opacity: 0.8;
}

/* Novo estilo para o container das ações */
.products-actions {
  display: flex;
  justify-content: space-between;

  align-items: center;

  margin-top: 1rem;

}

.products-table thead th {
  position: sticky;
  top: 0;
  background-color: #001a33;
  color: rgb(237, 237, 237);
  z-index: 1;
  /* Mantém o cabeçalho acima das linhas da tabela ao rolar */
}

.products-footer {
  border-top: 1px solid #ccc;
  padding: 1.5rem;
  background-color: white;
}