/* src/pages/Users.css */
.users-container {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    min-height: 100vh;
    background-color: #f4f6f9;
    text-align: center;
  }
  
  .users-header, .users-nav {
    background-color: #001a33;
    color: white;
  }
  
  .users-nav {
    border-bottom: 1px solid #ccc;
  }
  
  .users-main {
    padding: 1.5rem;
    background-color: white;
  }
  
  .input-search, .input-detail {
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 4px;
  }
  
  .btn {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .btn-add {
    background-color: #007bff;
    color: white;
  }
  
  .btn-back, .btn-save ,.btn-update{
    background-color:   #28a745;
    color: white;
  }
  
  .btn-clear {
    background-color: #c96b06;
    color: white;
  }
  
  .btn:hover {
    opacity: 0.8;
  }

  .users-table {
    max-height: 100px; 
    overflow-y: auto;
    border: 1px solid #8a8888; 
  }
  
  .users-table thead th {
    position: sticky;
    top: 0;
    background-color: #001a33; 
    color: rgb(237, 237, 237);
    z-index: 1; /* Mantém o cabeçalho acima das linhas da tabela ao rolar */
  }
  
  